In [3]:
import pandas as pd
data=pd.read_csv('data.csv')

In [4]:
data.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [6]:
data.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [8]:
data.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [16]:
movies_data=data[['id', 'title']]

In [17]:
movies_data.head(10)

       id                        title
0     278     The Shawshank Redemption
1   19404  Dilwale Dulhania Le Jayenge
2     238                The Godfather
3     424             Schindler's List
4     240       The Godfather: Part II
5  667257            Impossible Things
6     129                Spirited Away
7  730154               Your Eyes Tell
8  372754     Dou kyu sei – Classmates
9  372058                   Your Name.

In [22]:
movies_data['description'] = data['genre'] + " : " + data['overview']

/var/folders/0_/h7274szj7fz8kr2lwzdm2xzc0000gn/T/ipykernel_23081/1070619067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data['description'] = data['genre'] + " : " + data['overview']

In [24]:
movies_data.head(15)

,id,title,description
0,278,The Shawshank Redemption,"Drama,Crime : Framed in the 1940s for the doub..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance : Raj is a rich, carefree..."
2,238,The Godfather,"Drama,Crime : Spanning the years 1945 to 1955,..."
3,424,Schindler's List,"Drama,History,War : The true story of how busi..."
4,240,The Godfather: Part II,"Drama,Crime : In the continuing saga of the Co..."
5,667257,Impossible Things,"Family,Drama : Matilde is a woman who, after t..."
6,129,Spirited Away,"Animation,Family,Fantasy : A young girl, Chihi..."
7,730154,Your Eyes Tell,"Romance,Drama : A tragic accident lead to Kaor..."
8,372754,Dou kyu sei – Classmates,"Romance,Animation : Rihito Sajo, an honor stud..."
9,372058,Your Name.,"Romance,Animation,Drama : High schoolers Mitsu..."
10,389,12 Angry Men,Drama : The defense and the prosecution have r...
11,696374,Gabriel's Inferno,Romance : An intriguing and sinful exploration...
12,496243,Parasite,"Comedy,Thriller,Drama : All unemployed, Ki-tae..."
13,497,The Green Mile,"Fantasy,Drama,Crime : A supernatural tale set ..."
14,724089,Gabriel's Inferno: Part II,Romance : Professor Gabriel Emerson finally le...

In [25]:
len(movies_data)

10000

In [26]:
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
CountVect=CountVectorizer(max_features=len(movies_data), stop_words='english')

In [28]:
vector=CountVect.fit_transform(movies_data['description'].values.astype('U')).toarray()

In [30]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [31]:
similarity

array([[1.        , 0.05634362, 0.13041013, ..., 0.07559289, 0.11065667,
        0.06900656],
       [0.05634362, 1.        , 0.07715167, ..., 0.        , 0.03636965,
        0.        ],
       [0.13041013, 0.07715167, 1.        , ..., 0.02300219, 0.0673435 ,
        0.09449112],
       ...,
       [0.07559289, 0.        , 0.02300219, ..., 1.        , 0.03253   ,
        0.03042903],
       [0.11065667, 0.03636965, 0.0673435 , ..., 0.03253   , 1.        ,
        0.04454354],
       [0.06900656, 0.        , 0.09449112, ..., 0.03042903, 0.04454354,
        1.        ]])

In [35]:
def movie_recommandation(movies_title,num_of_movies):
    index=movies_data[movies_data['title']==movies_title].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[1:num_of_movies+1]:
        print(movies_data.iloc[i[0]].title)

In [54]:
movie_recommandation("Iron Man 2",5)

Iron Man 3
Iron Man
Spider-Man: Homecoming
A-X-L
Avengers: Age of Ultron

In [50]:
import pickle
pickle.dump(movies_data, open('movies_data.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))

python: can't open file '/Users/redazhani/Documents/Movie-Recommendation-System-in-Python/__version': [Errno 2] No such file or directory